<div class='mx-auto container'>
  <div class='form-group form-inline row'>
    <div class='col-md-10'>
      <h4>配送先登録/一覧</h4>
      <%= form_with model: @address, url: addresses_path, local: true, method: :POST do |f| %>
        <table class='table table-borderless'>
          <tr>
            <td><%= f.label :"郵便番号(ハイフンなし)", class: "col_md-2 float-left" %></td>
            <td><%= f.text_field :postal_code, placeholder:"0000000", class: "col-auto form-control form-control-sm w-200" %></td>
          </tr>
          <tr>
            <td><%= f.label :"住所", class: "float-left" %></td>
            <td><%= f.text_field :address, placeholder:"東京区渋谷区代々木区神園町0-0", class: "col-auto form-control form-control-sm w-100" %></td>
          </tr>
          <tr>
            <td><%= f.label :"宛名", class: "float-left" %></td>
            <td><%= f.text_field :dear_name, placeholder:"令和道子", class: "col-auto form-control form-control-sm w-200" %></td>
            <td> <%= f.submit '新規登録', class: "btn btn-sm btn-outline-success address_path" %></td>
          </tr>
        </table>
      </div>
    </div>
    <% end %>
    <div class='row'>
      <div class='col-md-8'>
        <table class='table table-bordered table-hover'>
          <thead>
            <tr>
              <td>郵便番号</td>
              <td>住所</td>
              <td>宛名</td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            <% @addresses.each do |address| %>
            <tr>
              <td><%= address.postal_code %></td>
              <td><%= address.address %></td>
              <td><%= address.dear_name %></td>
              <td>
                <%= link_to '編集する', edit_address_path(address), class: "btn btn-sm btn-outline-success edit_address_path_#{address.id}" %>
                <%= link_to '削除する', address_path(address), method: :delete, class: "btn btn-sm btn-outline-danger destroy_address_#{address.id}"%>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>