<%= render "devise/shared/error_messages", resource: resource %>
  <div class="mx-auto container">
    <div class="form-group form-inline row">
      <div class="col-md-10">
        <h2>新規会員登録</h2>
        <%= form_with model: @customer, url: customer_registration_path, id: 'new_customer', class: 'new_customer', local: true do |f| %>
        <table class='table table-borderless'>
          <tr>
            <!-- 名前とフォームが離れている -->
            <td><%= f.label:名前, class: "float-left" %></td>
            <!--<td>(性)</td>-->
            <td>(性)<%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "form-control form-control-md w-100" %></td>
            <!--<td>(名)</td>-->
            <td>(名)<%= f.text_field :last_name, autocomplete: "last_name", class: "col-auto form-control form-control-md w-100" %></td>
          </tr>
          
          <tr>
            <!-- 名前とフォームが離れている -->
            <td><%= f.label :フリガナ, class: "float-left" %></td>
            <!--<td>(セイ)</td>-->
            <td>(セイ)<%= f.text_field :kana_first_name, autocomplete: "kana_first_name", class: "form-control form-control-md w-100" %></td>
            <!--<td>(メイ)</td>-->
            <td>(メイ)<%= f.text_field :kana_last_name, autocomplete: "kana_last_name", class: "form-control form-control-md w-100" %></td>
          </tr>
      
          <tr>
            <td><%= f.label :メールアドレス, class: "float-left" %></td>
            <td><%= f.email_field :email, autocomplete: "email", class: "col-auto form-control form-control-md w-100" %></td>
           </tr>
      
          <tr>
            <td><%= f.label :郵便番号（ハイフンなし）, class: "float-left" %></td>
            <td><%= f.text_field :postal_code, autocomplete: "postal_code", class: "col-auto form-control form-control-md w-100" %></td>
          </tr>
      
          <tr>
            <!-- フォームの幅を広げたい -->
            <td><%= f.label :住所, class: "float-left" %></td>
            <td><%= f.text_field :address, autocomplete: "address", class: "col-auto form-control form-control-md w-100" %></td>
          </tr>
          
          <tr>
            <td><%= f.label :電話番号（ハイフンなし）, class: "float-left" %></td>
            <td><%= f.number_field :phone_number, autocomplete: "phone_number", class: "col-auto form-control form-control-md w-100" %></td>
          </tr>
          
          <tr>
            <td><%= f.label :パスワード６文字以上, class: "float-left" %></td>
            <td><%= f.password_field :password, autocomplete: "new-password", class: "col-auto form-control form-control-md w-100" %></td>    
          </tr>
      
          <tr>
            <td><%= f.label :パスワード（確認用）, class: "float-left" %></td>
            <td><%= f.password_field :password_confirmation, autocomplete: "new-password", class: "col-auto form-control form-control-md w-100" %></td>
          </tr>

          <tr>
            <td></td>
            <td><%= f.submit "Sign up", class: "btn btn-primary col-md-12" %></td>
          </tr>
        </table>
        <% end %>
      </div>
    </div>
    <div>
      <div>既に登録済みの方</div>
      <div><%= link_to("こちら", new_customer_session_path ) %>からログインしてください。</div>
    </div>
  </div>
