<div class="row">
 <div class="col-md-10 mx-auto">
  
      <h1>商品新規登録</h1>
    
      <%= form_with model:@item,url:admin_items_path, local:true do |f| %>
    
      <h4>商品画像</h4>
      <%= f.attachment_field :item_image %>
    
      <h4>商品名</h4>
      <%= f.text_field :item_name %>
    
      <h4>商品説明</h4>
      <%= f.text_area :item_explanation %>
      
      <h4>ジャンル</h4>
      <%= f.collection_select(:genre_id, @genres, :id, :genre_name,:prompt => "選択してください") %>
      
      <h4>税抜価格</h4>
      <%= f.text_field :non_taxed_price %>
      
      <h4>販売ステータス</h4>
       <%= f.radio_button :sale_status, :true %>販売中
       <%= f.radio_button :sale_status, :false %>販売停止中
    
      <%= f.submit '新規登録' %>
      
    <% end %>
 </div>
</div>