<h2>新規会員登録</h2>
<%= form_with model: @customer, url: customer_registration_path, id: 'new_customer', class: 'new_customer', local: true do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="mx-auto container">
    <div class="form-group form-inline row">
      <div class="field col-3">
        <%= f.label:名前（姓）, class: "float-left" %>
        （姓）<%= f.text_field :last_name, autofocus: true, class: "col-lg-offset-3 form-control form-control-lg w-100" %>
      </div>
      <div class="field col-3">
        <%= f.label :名前（名）, class: "float-left" %>
        <%= f.text_field :first_name, class: "col-auto form-control form-control-lg w-100" %>
      </div>
    </div>
      <div class="form-group form-inline row">
        <div class="field col-3">
          <%= f.label :名前（セイ）, class: "float-left" %>
          <%= f.text_field :kana_last_name, class: "col-auto form-control form-control-lg w-100" %>
        </div>
        <div class="field col-3">
          <%= f.label :名前（メイ）, class: "float-left" %>
          <%= f.text_field :kana_first_name, class: "col-auto form-control form-control-lg w-100" %>
        </div>
      </div>
      
      <div class="form-group form-inline row">
        <div class="field col-3">
    　     <%= f.label :email %><br />
          <%= f.email_field :email, autocomplete: "email" %>
        </div>
      </div>
      
      <div class="form-group form-inline row">
        <div class="field col-6">
          <%= f.label :郵便番号（ハイフン無しで入力して下さい） %><br />
          <%= f.text_field :postal_code, class: "col-auto form-control form-control-lg w-100" %>
        </div>
      </div>
      
      <div class="form-group form-inline row">
        <div class="field col-6">
          <%= f.label :住所 %><br />
          <%= f.text_field :address, class: "col-auto form-control form-control-lg w-200" %>
        </div>
      </div>
      
      <div class="form-group form-inline row">
        <div class="field col-6">
          <%= f.label :電話番号（ハイフン無しで入力して下さい） %><br />
          <%= f.number_field :phone_number, class: "col-auto form-control form-control-lg w-100" %>
        </div>
      </div>
      
      <div class="form-group form-inline row">
        <div class="field col-3">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>
      </div>
      
      <div class="form-group form-inline row">
        <div class="field col-3">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
      </div>
      
      <div class="form-group form-inline row">
        <div class="actions">
          <%= f.submit "新規登録" %>
        </div>
    </div>
    <% end %>
  </div>
</div>
