<div class='container'>
  <div class='row'>
    <div class='col-md-10'>
      <h5>注文履歴一覧</5>
      <table class='table'>
        <thead>
          <tr>
            <td>注文日</td>
            <td>配送先</td>
            <td>注文商品</td>
            <td>支払金額</td>
            <td>ステータス</td>
            <td>注文詳細</td>
          </tr>
        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
              <td>
                <%= order.postal_code %>
                <%= order.dear_address %>
                <%= order.dear_name %>
              </td>
              <td>
                <% order.each do |order| %>
                <%= order.order_items.item_name %>
                <% end %>
              </td>
               <!-- 商品の合計金額と送料を足した額を表示-->
              <td><%= order.taxed_billing_price %> 円 %></td>
              <td><%= order.orderd_status %></td>
              <td><%= link_to 表示する, class: "btn btn-sm btn-success customers_order_path_#{order.id}"%></td>
            </tr>
          <% end %>
        </tbody>
        </thead>
      </table>
    </div>  
  </div>  
</div>