<!-- ブートストラップは後から記述します-->
<!-- 注文情報入力画面-->
<div class="container col-10">
  <div class>
    <div>
      <h3 class="mt-3 mb-3">注文情報入力</h3>
      <%= form_with model: @order, url: orders_check_path, method: :post, local: true do |f| %>
        <h5><strong>支払い方法</strong></h5>
        <div class="ml-5">
          <!--ラジオボタン実装-->
          <label><%= f.radio_button :method_of_payment, "クレジットカード支払い", checked: true %>クレジットカード</label><br>
          <label><%= f.radio_button :method_of_payment, "銀行振込" %>銀行振込</label>
        </div>
        <h5><strong>お届け先</strong></h5>
        <div class="ml-5">
          <!--ご自身の住所-->
          <label><%= f.radio_button :address_op, "1", checked: true %>ご自身の住所</label><br>
          <p class="ml-4">〒<%= current_customer.cust_postal_code %>&emsp;<%= current_customer.cust_address %><br>
          <%= current_customer.last_name %><%= current_customer.first_name %><br></p>
        </div>
        <div class="ml-5">
          <!--登録済み住所から選択-->
          <label><%= f.radio_button :address_op, "2" %>登録済み住所から選択</label><br>
          <p class="ml-4"><%= f.collection_select(:address, current_customer.addresses, :id, :address)%></p><br>
        </div>
        <div class="ml-5">
          <!-- 新しいお届け先を設定-->
          <label><%= f.radio_button :address_op, "3" %>新しいお届け先</label><br>
          <table  class="ml-4">
            <tr>
              <th><%= f.label :"郵便番号(ハイフンなし)" %></th>
              <td><%= f.text_field :new_postal_code %></td>
            </tr>
            <tr>
              <th><%= f.label :"住所" %></th>
              <td><%= f.text_field :new_address %></td>
            </tr>
            <tr>
              <th><%= f.label :"宛名" %></th>
              <td><%= f.text_field :new_dear_name %></td>
            </tr>
          </table>
          <div>
            <%= f.submit "確認画面へ進む", class: "col-2 btn btn-outline-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

