<div class="mx-auto container">
  <div class="form-group form-inline row">
    <div class='col-md-8'>
    <h2><%= @customer.full_name %>さんの会員情報編集</h2>
      <%= form_with model: @customer, url: admin_customer_path, local: true do |f| %>
      <table class="table">
        <tr>
          <td><%= f.label:名前（姓）, class: "float-left" %></td>
          <td><%= f.text_field :first_name, autofocus: true, class: "col-lg-offset-3 form-control form-control-lg w-100" %></td>
        </tr>
        
        <tr>
          <td><%= f.label :名前（名）, class: "float-left" %></td>
          <td><%= f.text_field :last_name, class: "col-auto form-control form-control-lg w-100" %></td>
        </tr>
    
        <tr>
          <td><%= f.label :名前（セイ）, class: "float-left" %></td>
          <td><%= f.text_field :kana_first_name, class: "col-auto form-control form-control-lg w-100" %></td>
        </tr>
        
        <tr>
          <td><%= f.label :名前（メイ）, class: "float-left" %></td>
          <td><%= f.text_field :kana_last_name, class: "col-auto form-control form-control-lg w-100" %></td>
        </tr>
      
        <tr>
          <td><%= f.label :郵便番号（ハイフン無しで入力して下さい） %></td>
          <td><%= f.text_field :cust_postal_code, class: "col-auto form-control form-control-lg w-100" %></td>
        </tr>
      
        <tr>
          <td><%= f.label :住所 %></td>
          <td><%= f.text_field :cust_address, class: "col-auto form-control form-control-lg w-100" %></td>
        </tr>
      
        <tr>
          <td><%= f.label :電話番号（ハイフン無しで入力して下さい） %></td>
          <td><%= f.number_field :phone_number, class: "col-auto form-control form-control-lg w-100" %></td>
        </tr>
      
        <tr>
          <td><%= f.label :email %></td>
          <td><%= f.email_field :email, autocomplete: "email" %><td>
        </tr>

        <tr>
          <td><%= f.label :"会員ステータス", class: "col-sm-4 control-label" %></td>
          <td>
            <%= f.radio_button :is_deleted, false %>
            <%= f.label :is_deleted, "有効"%>
            <%= f.radio_button :is_deleted, true %>
            <%= f.label :is_deleted, "退会" %>
          </td>
        </tr>
        </table>
        <div class="actions">
          <%= f.submit "変更を保存" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
