<div class='container px-5 px-sm-0'>
  <div class='row mb-3 mt-4'>
    <div class='col-md-8'>
      <!-- tr部分全てにかかったようになる -->
      <h4 class="p-3 mb-2 w-50 text-center" style="color: #494949; background: #80aba9; border-left: solid 5px #2f4f4f;"><%= @customer.full_name %>さんの会員詳細</h4>
      <table class='table table-borderless'>
        <tr>
          <td>会員ID</td>
          <td><%= @customer.id %></td>
        </tr>
        <tr>
          <td>氏名</td>
          <td><%= @customer.full_name %></td>
        </tr>
        <tr>
          <td>フリガナ</td>
          <td><%= @customer.full_kana_name %></td>
        </tr>
        <tr>
          <td>郵便番号</td>
          <td>〒<%= @customer.cust_postal_code %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= @customer.cust_address %></td>
        </tr>
        <tr>
          <td>電話番号</td>
          <td><%= @customer.phone_number %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= @customer.email %></td>
        </tr>
        <tr>
          <td>会員ステータス</td>
          <td>
            <% if @customer.is_deleted == true%>
              <p class="text-secondary">退会済</p>
            <% else %>
              <p class="text-success">有効</p>
            <% end %>
          </td>
        </tr>
        <tr>
          <td></td>
          <td><%= link_to "編集する", edit_admin_customer_path(@customer.id), class: "btn btn-outline-success" %></td>
          <td><%= link_to "注文履歴一覧を見る", admin_orders_path(@customer.id), class: "btn btn-outline-primary" %></td>
        </tr>
      </table>
    </div>
  </div>
</div>