<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-8'>
      <h5><%= @customer.full_name %>さんの会員詳細%></h5>
      <table class='table table-hover table-inverse'>
        <tr>
          <td>会員ID</td>
          <td><%= @customer.id %></td>
        </tr>
        <tr>
          <td>氏名</td>
          <td><%= @customer.full_name %></td>
        </tr>
        <tr>
          <td>フリガナ</td>
          <td><%= @customer.full_kana_name %></td>
        </tr>
        <tr>
          <td>郵便番号</td>
          <td><%= @customer.cust_postal_code %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= @customer.cust_address %></td>
        </tr>
        <tr>
          <td>電話番号</td>
          <td><%= @customer.phone_number %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= @customer.email %></td>
        </tr>
        <tr>
          <td>会員ステータス</td>
          <td>
            <% if @customer.is_deleted == true%>
              <p class="text-secondary">退会済</p>
            <% else %>
              <p class="text-success">有効</p>
            <% end %>
          </td>
        </tr>
        <tr>
          <td></td>
          <td><%= link_to "編集する", edit_admin_customer_path(@customer), class: "btn btn-success" %></td>
          <td><%= link_to "注文履歴一覧を見る", admin_customers_path, class: "btn btn-primary" %></td>
        </tr>
      </table>
    </div>
  </div> 
</div>