<!-- ブートストラップは後から記述します-->
<!-- 会員詳細画面-->
<div>
  <div>
    <div>
      <h3>マイページ</h3>
      <div>
        <h4><strong>登録情報</strong></h4>
        <%= link_to "編集する", edit_customers_path %>
      </div>
      <table>
        <tr>
          <th>氏名</th>
          <td><%= @customer.first_name %>  <%= @customer.last_name %></td>
        </tr>
        <tr>
          <th>カナ</th>
          <td><%= @customer.kana_first_name %>  <%= @customer.kana_last_name %></td>
        </tr>
        <tr>
          <th>郵便番号</th>
          <td><%= @customer.cust_postal_code %></td>
        </tr>
        <tr>
          <th>住所</th>
          <td><%= @customer.cust_address %></td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td><%= @customer.phone_number %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @customer.email %></td>
        </tr>
      </table>
      <div>
        <h4><strong>配送先</strong></h4>
        <%= link_to "一覧を見る", addresses_path %>
        <h4><strong>注文履歴</strong></h4>
        <%= link_to "一覧を見る", orders_path %>
      </div>
    </div>
  </div>
</div>

