<!-- ブートストラップは後から記述します-->
<!-- 会員詳細画面-->
<div>
  <div>
    <div>
      <h3>マイページ</h3>
      <div>
        <h4><strong>登録情報</strong></h4>
        <%= link_to "編集する", edit_customers_path %>
      </div>
      <table>
        <tr>
          <th>氏名</th>
          <tr>
            <%= @customer.last_name %>  <%= @customer.first_name %>
          </tr>
        </tr>
        <tr>
          <th>カナ</th>
          <tr>
            <%= @customer.kana_last_name %>  <%= @customer.kana_first_name %>
          </tr>
        </tr>
        <tr>
          <th>郵便番号</th>
          <tr>
            <%= @customer.cust_postal_code %>
          </tr>
        </tr>
        <tr>
          <th>住所</th>
          <tr>
            <%= @customer.cust_address %>
          </tr>
        </tr>
        <tr>
          <th>電話番号</th>
          <tr>
            <%= @customer.phone_number %>
          </tr>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <tr>
            <%= @customer.email %>
          </tr>
        </tr>
      </table>
      <div>
        <h4><strong>配送先</strong></h4>
        <%= link_to "一覧を見る", adresses_path %>
        <h4><strong>注文履歴</strong></h4>
        <%= link_to "一覧を見る", orders_path %>
      </div>
    </div>
  </div>
</div>

