<!-- 会員詳細画面-->
<div class="container mx-5">
  <div class="row">
    <h3 class="col-6 my-3">マイページ</h3>
  </div>
  <div class="row my-3">
    <h4 class="mx-2 col-3"><strong>登録情報</strong></h4>
    <%= link_to "編集する", edit_customers_path, method: :get, class: "col-2 btn btn-outline-success mx-2" %>
  </div>
  <div class="row my-2">
    <table class="table table-bordered table-hover col-6">
      <tr>
        <th class="col-2">氏名</th>
        <td class="col-5"><%= @customer.last_name %>  <%= @customer.first_name %></td>
      </tr>
      <tr>
        <th>カナ</th>
        <td><%= @customer.kana_last_name %>  <%= @customer.kana_first_name %></td>
      </tr>
      <tr>
        <th>郵便番号</th>
        <td><%= @customer.cust_postal_code %></td>
      </tr>
      <tr>
        <th>住所</th>
        <td><%= @customer.cust_address %></td>
      </tr>
      <tr>
        <th>電話番号</th>
        <td><%= @customer.phone_number %></td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td><%= @customer.email %></td>
      </tr>
    </table>
  </div>
  <div class="row my-4">
    <h4 class="col-2"><strong>配送先</strong></h4>
    <%= link_to "一覧を見る", addresses_path, class: "col-2 btn btn-outline-primary" %>
  </div>
  <div class="row my-3">
    <h4 class="col-2"><strong>注文履歴</strong></h4>
    <%= link_to "一覧を見る", orders_path, class: "col-2 btn btn-outline-primary" %>
  </div>
</div>

