<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-md-2">
　　  <!-- ジャンル検索サイドバー　-->
      <%= render 'customers/items/genre_sidebar', genres: @genres %>
    </div>
    <div class="col-md-9">
      <h3 class="title-items"><strong>商品一覧</strong>（全<%= @all_items.count %>件）</h3>
      <% @items.each do |item| %>
        <div class="item-box">
          <table class="table table-borderless">
            <tr>
              <th>
                <%= link_to item_path(item) do %>
                  <%= attachment_image_tag item, :item_image, :fill, 210, 150, fallback: "no_image.jpg" %>
                <% end %>
              </th>
            </tr>
            <tr>
              <th class="item-name"><%= link_to item.item_name.truncate(15), item_path(item) %></th>
            </tr>
            <tr>
              <th>¥<%= ((item.non_taxed_price * 1.1).round).to_s(:delimited) %></th>
            </tr>
          </table>
        </div>
      <% end %>
    </div>
    <div class="col-6 offset-3 text-center"><%= paginate @items %></div>
  </div>
</div>