<div class='container'>
  <div class='row m-5'>
    <!-- ログインが寄せれれない -->
    <div class='h4 ml-5'>ログイン</div>
  </div>
  <div class='row'>
    <div class="col-md-8 offset-2">
      <div class ="mb-2">会員の方はこちらからログイン</div>
        <%= form_with model: @customer, url: customer_session_path, local: true do |f| %>
      <table class="table table-borderless">
        <tr>
          <td><%= f.label :メールアドレス %></td>
          <td><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-md w-100" %></td>
        </tr>

        <tr>
          <td><%= f.label :パスワード %></td>
          <td><%= f.password_field :password, autocomplete: "current-password", class: "form-control form-control-md w-100" %></td>
        <tr>

        <tr>
          <td></td>
          <td><%= f.submit "Log in", class: "btn btn-outline-primary col-md-4" %></td>
        </tr>
      </table>
      <% end %>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-8 offset-2'>
      <div class='mb-'>会員登録がお済みで無い方</div>
      <div class='ml-5'><%= link_to("こちら", new_customer_registration_path ) %>から新規登録を行なってください。</div>
    </div>
  </div>
