<header>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#bc8f8f;">
    <div class="container">
      <nav class="navbar-brand navbar-left header-logo">
        <%= link_to root_path do %><%= image_tag('shop-logo3.jpeg', class: 'shop_logo') %><% end %></nav>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="nav navbar-nav ml-auto">
        <!-- 顧客がログインしている時 -->
        <% if customer_signed_in? %>
        <ul class="navbar nav-customer-name">
            <li>ようこそ、<%= current_customer.first_name %>さん ！</li>
          </ul>
          <li class="nav-item">
            <%= link_to customers_path do %>
              <i class="fas fa-user-cog"> マイページ </i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to items_path do %>
              <i class="fas fa-birthday-cake"> 商品一覧 </i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to cart_items_path do %>
              <i class="fas fa-cart-arrow-down"> カート </i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_customer_session_path, method: :delete do %>
              <i class="fas fa-sign-out-alt"> ログアウト </i>
            <% end %>
          </li>
        <!-- 管理者がログインしている時 -->
        <% elsif admin_signed_in? %>
          <li class="nav-item">
            <%= link_to admin_items_path do %>
              <i class="fas fa-birthday-cake"> 商品一覧 </i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to admin_customers_path do %>
              <i class="fas fa-users"> 会員一覧 </i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to admin_orders_path do %>
              <i class="fas fa-newspaper"> 注文履歴一覧 </i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to admin_genres_path do %>
              <i class="fas fa-paperclip">ジャンル一覧 </i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_admin_session_path, method: :delete do %>
              <i class="fas fa-sign-out-alt"> ログアウト </i>
            <% end %>
          </li>
        <!-- ログインしていない時 -->
        <% else %>
          <li class="nav-item">
            <%= link_to home_about_path do %>
              <i class="fas fa-home"> About </i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to items_path do %>
              <i class="fas fa-birthday-cake"> 商品一覧 </i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_customer_registration_path do %>
              <i class="fas fa-pencil-alt"> 新規登録 </i>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_customer_session_path do %>
              <i class="fas fa-sign-in-alt"> ログイン </i>
            <% end %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
  <!-- 検索フォーム -->
</header>